In [29]:
import pandas as pd

import numpy as np
import sklearn
from sklearn.compose import ColumnTransformer
import sklearn.linear_model
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

In [3]:
df=pd.read_csv("student mental health score.csv")
df.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

Feature Selection Manually

In [4]:
df.drop(columns=['Student_ID', 'Country', 'Conflicts_Over_Social_Media', 'Addicted_Score'], inplace=True)
df.head()

,Age,Gender,Academic_Level,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status
0,19,Female,Undergraduate,5.2,Instagram,Yes,6.5,6,In Relationship
1,22,Male,Graduate,2.1,Twitter,No,7.5,8,Single
2,20,Female,Undergraduate,6.0,TikTok,Yes,5.0,5,Complicated
3,18,Male,High School,3.0,YouTube,No,7.0,7,Single
4,21,Male,Graduate,4.5,Facebook,Yes,6.0,6,In Relationship

In [8]:
df.shape
df.isnull().sum(),df.describe(),df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           705 non-null    int64
 1   Gender                        705 non-null    object
 2   Academic_Level                705 non-null    object
 3   Avg_Daily_Usage_Hours         705 non-null    float64
 4   Most_Used_Platform            705 non-null    object
 5   Affects_Academic_Performance  705 non-null    object
 6   Sleep_Hours_Per_Night         705 non-null    float64
 7   Mental_Health_Score           705 non-null    int64
 8   Relationship_Status           705 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 49.7+ KB

(Age                             0
 Gender                          0
 Academic_Level                  0
 Avg_Daily_Usage_Hours           0
 Most_Used_Platform              0
 Affects_Academic_Performance    0
 Sleep_Hours_Per_Night           0
 Mental_Health_Score             0
 Relationship_Status             0
 dtype: int64,
               Age  Avg_Daily_Usage_Hours  Sleep_Hours_Per_Night  \
 count  705.000000             705.000000             705.000000
 mean    20.659574               4.918723               6.868936
 std      1.399217               1.257395               1.126848
 min     18.000000               1.500000               3.800000
 25%     19.000000               4.100000               6.000000
 50%     21.000000               4.800000               6.900000
 75%     22.000000               5.800000               7.700000
 max     24.000000               8.500000               9.600000

        Mental_Health_Score
 count           705.000000
 mean              6.226950
 std               1.105055
 min               4.000000
 25%               5.000000
 50%               6.000000
 75%               7.000000
 max               9.000000  ,
 None)

In [ ]:
x=df.drop(['Mental_Health_Score'], axis=1)
y=df['Mental_Health_Score']

0    6
1    8
2    5
3    7
4    6
Name: Mental_Health_Score, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

x_train , x_test ,y_train , y_test =train_test_split(x,y,test_size=0.25,random_state=42)
x_train.shape,x_test.shape

((528, 8), (177, 8))

In [18]:
df.info(),df['Academic_Level'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           705 non-null    int64
 1   Gender                        705 non-null    object
 2   Academic_Level                705 non-null    object
 3   Avg_Daily_Usage_Hours         705 non-null    float64
 4   Most_Used_Platform            705 non-null    object
 5   Affects_Academic_Performance  705 non-null    object
 6   Sleep_Hours_Per_Night         705 non-null    float64
 7   Mental_Health_Score           705 non-null    int64
 8   Relationship_Status           705 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 49.7+ KB

(None,
 Academic_Level
 Undergraduate    353
 Graduate         325
 High School       27
 Name: count, dtype: int64)

In [ ]:
trf1= ColumnTransformer([
    ('oheAL',OneHotEncoder(drop='first',s),[2]),
    ('oheG',OneHotEncoder(drop='first',s),[1]),
    ('oheMUP',OneHotEncoder(drop='first',s),[5]),
    ('oheAAP',OneHotEncoder(drop='first',s),[4]),
    ('oheRS',OneHotEncoder(drop='first',s),[8])
] , remainder='passthrough')

In [31]:
trf2=ColumnTransformer([
    ('SSAL',StandardScaler(),[2]),
    ('SSA',StandardScaler(),[0]),
    ('SSG',StandardScaler(),[1]),
    ('SSMUP',StandardScaler(),[4]),
    ('SSAAP',StandardScaler(),[5]),
    ('SSRS',StandardScaler(),[8]),
    ('SSSHPR',StandardScaler(),[6]),
    ('SSADUH',StandardScaler(),[3]),
], remainder='passthrough')

In [32]:
pipe = Pipeline([
    ("trf1",trf1),
    ("trf2",trf2),
    ("lr",LinearRegression())
])